<% content_for :title, "Leaderboard" %>
<% content_for :og_title, "Stardance Leaderboard" %>
<% content_for :og_description, "See who's earning the most Stardust on Stardance!" %>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "leaderboard", "data-turbo-track": "reload" %>
<% end %>

<main>
    <h1>Leaderboard</h1>
    <p class="subtitle"><%= @pagy.count %> users opted in to the leaderboard :D, you can opt in through settings</p>

    <div class="users">
        <% @users.each_with_index do |user, index| %>
            <div class="user">
                <div class="content">
                    <h2>#<%= @pagy.offset + index + 1 %></h2>

                    <%= image_tag user.avatar %>
                    <h2>
                        <%= link_to user.display_name, profile_path(user.display_name) %>
                    </h2>

                    <p><%= user.cached_balance %> <%= stardust_icon %></p>
                </div>
            </div>
        <% end %>
    </div>

    <% if @pagy.pages > 1 %>
        <div class="pagination"><%== @pagy.series_nav %></div>
    <% end %>
</main>
