<% content_for :title, "We see you" %>
<main class="onboarding-screen onboarding-screen--experience-result" data-controller="onboarding-transition">
  <%= render Onboarding::ProgressBarComponent.new(step: :experience_result) %>

  <div class="onboarding-screen__content">
    <% case @level %>
    <% when "none" %>
      <h1 class="onboarding-screen__title">
        No experience? Don't worry!<br>
        <%= onboarding_count_up(6203) %> other people are also beginners.
      </h1>
      <p class="onboarding-screen__subhead">
        We'll have plenty of guides to get you started, and a community to help!
      </p>
    <% when "little" %>
      <h1 class="onboarding-screen__title">A little bit counts! <%= onboarding_count_up(2000) %> others are at this stage too :)</h1>
      <p class="onboarding-screen__subhead">
        We'll help you go from "I sort of remember this" to "I built that." with our project guides and community help!
      </p>
    <% when "some" %>
      <h1 class="onboarding-screen__title">
        You're in a great spot,<br>
        <%= onboarding_count_up(2756) %> others are here with you too!
      </h1>
      <p class="onboarding-screen__subhead">
        Check out our guides for more ideas, or view people's projects in the community and get inspired.
      </p>
    <% when "experienced" %>
      <h1 class="onboarding-screen__title">
        Nice! We're so excited to<br>
        see what you'll make here.
      </h1>
      <p class="onboarding-screen__subhead">
        Want some project ideas? Check out our guides, or view people's projects in the community and get inspired.
      </p>
    <% end %>

    <%= render ActionButtonComponent.new(
          text: "Next",
          variant: :primary,
          size: :large,
          href: onboarding_interests_path,
          icon: "icons/right-arrow.svg",
          data: { action: "click->onboarding-transition#leave" }
        ) %>
  </div>
</main>
